body{
    
}
#grid{
    
    
}

#television{
    border-style: solid;
    border-width: medium;
    color: white; 
    height: 200px;
    width:230px;
    background-color: blue;
    border-width: 10px;
    margin: auto;
    position: absolute;
    left: 30px;
    top:100px;

}

#outter{
    
    border-style: solid;
    border-size:10px; 
    color: black;
    background-color: #66CDAA;
    height:250px;
    width:360px;
    border-width: 10px;
    border-radius: 25px;
    margin: auto;
}

  #sideMenu{
      
      position: absolute;
      height: 200px;
      width: 80px;
      color: black;
      background-color: brown;
      right: 30px;
      top: 100px;
  }  
 #threeD{
     border-style: ridge;
     color: green;
     height: 240px;
     width:340px;
     margin: auto;
     background-color: black;
     
 }
 #printAnswer{
     border-radius: 100px;
     border-color: black;
     height: 50px;
     width: 20px;
 }

#weight{
    color: red;
    
}


h1{
    position:center;
}

#answer{
    
 border-radius: 50px;
}